footer{
  background-color: $accent-black;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.footer{
  &-logo{
    width: 64px;
  }
  &-email{
    a{
      padding: 10px 10px;
      border-radius: 5px;
      background-color: $accent-orange;
    }
  }
}
