
.offer{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0px;
  margin-bottom: 15vh;
  &-main{
    display: flex;
    flex-direction: column;
    font-size: 50px;
    font-weight: bold;
    position: relative;
    width: 100%;
    margin-bottom: 20vh;
    &-wrapper{
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      width: 100%;
    }
    &-cta{
      display: flex;
      flex-direction: column;
      margin-top: 20px;

      h6{
        margin-top: 30px;
        font-size: 28px;
        margin-bottom: 40px;
      }

      button{
        width: fit-content;
        font-size: 20px;
        padding: 15px 15px;
        margin-left: 20px;
      }

      input{
        border-color: transparent;
        outline: none;
        border-bottom: 1px solid $accent-black;
        font-size: 24px;
        width: 30%;
      }

      &-input-wrapper{
        display: flex;
        flex-direction: row;
      }
    }

    &-mac{
      width: 40%;
      transform: translateY(8vh) translateX(4vw);
      img{
        width: 100%;
        border-radius: 5px;
      }
    }
    b{
      color: $accent-orange;
    }

    &-abs{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: white;
      font-family: 'Exo 2';
      position: absolute;
      overflow: hidden;
      letter-spacing: .01em;
      top: 11%;
      right: 13%;
      width: 74%;
      height: 70%;

      img{
        width: 100%;
        height: 100%;
      }
    }
  }

  &-case{
    width: 100%;
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
    transition: .3s ease-in all;
    &:hover{
      img{
        transform: scale(1.11);
        width: 100%;
        height: 50vh;
      }

      button{
        transform: translateY(0%);
        color: $accent-orange;
        background-color: white;
        box-shadow: 0px 0px 30px white;
      }

      span{
        transition: .3s ease-in all;
        transform: translateY(0%);
      }

      h2{
        transition: .3s ease-in all;
        transform: scale(1.0) translateY(0%);
      }
    }

    &-img{
      transition: .3s linear all;
      transform: scale(1.0);
      width: 100%;
      height: 50vh;
      border-radius: 5px;
    }

    &-main{
      background-color: rgba($accent-black, 0.7);
      border-radius: 5px;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 0;
      color: white;

      &-title{
        font-weight: bold;
        font-size: 32px;
        margin-bottom: 10px;
        transform: scale(1.8) translateY(25%);
      }

      &-desc{
        margin: 20px 0px;
        font-size: 24px;
        width: 50%;
        text-align: center;
        transform: translateY(600%);
      }

      &-btn{
        color: white;
        box-shadow: 0px 0px 30px $accent-orange;
        background-color: $accent-orange;
        transition: .3s all linear;
        transform: translateY(600%);
        &:hover{
          color: $accent-orange;
          background-color: white;
          box-shadow: 0px 0px 30px white;
        }
      }
    }
  }

  &-callback-btn{
    width: 100%;
    color: $accent-blue;
    box-shadow: 3px 3px 40px $accent-blue;
    transition: .3s all linear;
    &:hover{
      color: white;
      background-color: $accent-blue-light;
      box-shadow: 3px 3px 10px $accent-blue-light;
    }
  }
}

@media (max-width: 420px) {
  .offer{
    &-main{
      font-size: 23px;
    }
  }
}

@media (max-height: 420px) {
  .offer{
    &-case{
      &-img{
        width: 100%;
        height: 80vh;
      }
    }
  }
}
